Repository shamubernetes/containers, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/ci, area/app, area/task, area/trunk, app/actions-runner, app/plex

fix: remove yq
  apps/actions-runner/ci/goss.yaml
Labels: area/app, app/actions-runner

fix: readmes
  .github/scripts/render-readme.py
  .github/scripts/templates/README.md.j2
Labels: area/ci

fix: containers
  .mise.toml
  .taskfiles/app/Taskfile.yaml
  Taskfile.yml
  apps/actions-runner/Dockerfile
  apps/plex/Dockerfile
Labels: area/app, area/task, app/actions-runner, app/plex

fix: back to ghar
  .github/workflows/build-images.yaml
Labels: area/ci

fix: kflix→shamubernetes
  .github/scripts/templates/README.md.j2
  docs/README.md
  docs/metadata-schema.json
Labels: area/docs, area/ci

feat: satisfactory
  .mise.toml
  .taskfiles/app/Taskfile.yaml
  apps/plex/Dockerfile
  apps/plex/ci/latest.sh
  apps/satisfactory/Dockerfile
  apps/satisfactory/README.md
  apps/satisfactory/ci/goss.yaml
  apps/satisfactory/ci/latest.sh
  apps/satisfactory/entrypoint.sh
  apps/satisfactory/metadata.yaml
  apps/satisfactory/scripts/lib.sh
  apps/satisfactory/scripts/run.sh
Labels: area/app, area/task, app/plex

fix: satisfactory
  apps/satisfactory/Dockerfile
  apps/satisfactory/ci/goss.yaml
  apps/satisfactory/metadata.yaml
  apps/satisfactory/scripts/lib.sh
  apps/satisfactory/scripts/run.sh
Labels: area/app

fix: channels
  apps/satisfactory/Dockerfile
  apps/satisfactory/metadata.yaml
Labels: area/app

.github/labeler.yaml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/shamubernetes/json-schemas/main/actions.labeler.schema.json
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
area/ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
area/app:
- changed-files:
  - any-glob-to-any-file: apps/**/*
area/task:
- changed-files:
  - any-glob-to-any-file: .taskfiles/**/*
  - any-glob-to-any-file: Taskfile*
area/trunk:
- changed-files:
  - any-glob-to-any-file: .trunk/**/*
# Apps
app/actions-runner:
- changed-files:
  - any-glob-to-any-file: apps/actions-runner/**/*
app/plex:
- changed-files:
  - any-glob-to-any-file: apps/plex/**/*
